<div class="todoListContainer">





<ul>
  <% @category.each do |u| %>
  
    <h4><%= u.title %> </h4>
    <h4><%= link_to u.category %> </h4>
    <h4><%= link_to u.status %> </h4>
    


  
  <% end %>
</ul>



</div>


